.content-container {
	position: relative;
	height: auto;
	width: 100%;
	background: rgb(255, 255, 255);
	padding: 35px 35px 10px 35px;
	vertical-align: top;

	&:after {
		content: "";
		background: rgb(255, 255, 255);
		height: 70px;
		transform: skewY(-2deg);
		position: absolute;
		left: 0;
		right: 0;
		z-index: -1;
		box-shadow: 2px 2px 15px 10px rgba(150, 150, 150, 0.1);
		margin-top: -53px;

		@include breakpoint(atSmall) {
			margin-top: -45px;
		}

		@include breakpoint(atMedium) {
			margin-top: -40px;
		}

		@include breakpoint(atLarge) {
			margin-top: -28px;
		}

		@include breakpoint(atWide) {
			height: 90px;
			margin-top: -40px;
		}
	}

	& h1 {
		margin: 0;
		font-size: 50px;

		@include breakpoint(atSmall) {
			font-size: 80px;
		}
	}

	& h2 {
		margin-top: 35px;
		font-size: 18px;
		
		@include breakpoint(atSmall) {
			font-size: 22px;
		}
		
	}

	& p {
		margin-top: -5px;
		font-size: 0.8rem;
		
		@include breakpoint(atSmall) {
			font-size: 1rem;
		}
	}
}
