body {
    font-family: "Roboto Slab", "Times New Roman", Times, Georgia, serif;
    font-weight: 300;
    color: $color-primary;
    text-align: left;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", "Times New Roman", Times, Georgia, serif;
    font-weight: 300;
    color: $color-primary;
}

p {
    font-size: 1rem;
    line-height: 1.42857143;

    @include breakpoint(atSmall) {
        font-size: 1rem;
        line-height: 1.42857143;
    }
}

img {
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

a {
	color: $color-primary;
    text-decoration: none;
    -webkit-tap-highlight-color: $color-primary;

    &:hover {
        color: $color-primary;
    }
}

.wrapper {
    margin: 35px;
}
