<!-- Footer -->
<footer>
    <div class="content">
    	<div class="wrapper wrapper--no-padding-top-bottom footer--font">
	        <p>Copyright &copy; {{ site.title }} 2017</p>
	    </div>
    </div>
</footer>